<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>

            <!-- Offcanvas Overlay -->
            <div class="offcanvas-overlay"></div>

            <!-- ...:::: Start Breadcrumb Section:::... -->
            <div class="breadcrumb-section breadcrumb-bg-color--golden">
                <div class="breadcrumb-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="breadcrumb-title">Checkout</h3>
                                <div
                                    class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                                    <nav aria-label="breadcrumb">
                                        <ul>
                                            <li><a href="">Home</a></li>
                                            <li><a href="/products">Shop</a></li>
                                            <li class="active" aria-current="page">Checkout</li>
                                        </ul>
                                    </nav>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- ...:::: End Breadcrumb Section:::... -->

            <!-- ...:::: Start Checkout Section:::... -->
            <div class="checkout-section">
                <div class="container">
                    <div class="row">
                        <!-- User Quick Action Form -->
                        <div class="col-12">
                            <div class="user-actions accordion" data-aos="fade-up" data-aos-delay="200">
                                <h3>
                                    <i class="fa fa-file-o" aria-hidden="true"></i>
                                    Have a coupon?
                                    <a class="Returning" href="#" data-bs-toggle="collapse"
                                        data-bs-target="#checkout_coupon" aria-expanded="true">Click here to enter your
                                        code</a>

                                </h3>
                                <div id="checkout_coupon" class="collapse checkout_coupon"
                                    data-parent="#checkout_coupon">
                                    <div class="checkout_info">
                                        <form action="#">
                                            <input placeholder="Coupon code" type="text">
                                            <button class="btn btn-md btn-black-default-hover" type="submit">Apply
                                                coupon</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- User Quick Action Form -->
                    </div>




                    <div class="row" style="display: flex; ">


                        <% if (address) { %>
                            <!-- <div > -->
                            <% for( let i=0; i < address.length; i++ ) { %>

                                <div class="card" style="width: 400px;margin-right: 5%;">
                                    <div class="card-body">
                                        <div class="radio-container">
                                            <input type="radio" style="align-items:start;"
                                                onclick="selectAddress('<%= address[i]._id %>')" name="addressSelection"
                                                data-id="<%= address[i]._id %>">

                                            <label style="font-weight: 800;font-size: larger;">Select</label>
                                        </div>
                                        <h5 class="card-title">Address of <%#= address[i].address %>
                                        </h5>
                                        <h6 class="card-subtitle mb-2 text-body-secondary">
                                            <%= address[i].name %>
                                        </h6>
                                        <p class="card-text">
                                            <%= address[i].address %> ,<%= address[i].street %>
                                        </p>
                                        <p class="card-text">
                                            <%= address[i].city %> ,<%= address[i].state %>
                                        </p>
                                        <p class="card-text">Pincode: <%= address[i].pincode %>
                                        </p>
                                        <p class="card-text">Mobile: <%= address[i].phone %>
                                        </p>
                                        <div class="mb-4">
                                            <a class="btn btn-warning" href="/editAddress/?addressId=<%= address[i]._id %>&path=checkout"> Edit </a>
                                            <a class="btn btn-success"
                                                onclick="delAddress('<%= address[i]._id %>')">Delete</a>
                                        </div>
                                    </div>

                                </div>

                                <% } %>

                                    <% } %>

                    </div>
                    <!-- Start User Details Checkout Form -->
                    <div class="checkout_form" data-aos="fade-up" data-aos-delay="400">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <form id="formData">
                                    <h3>Add Address Details</h3>
                                    <div class="row">
                                        <div class="col-12">
                                            <label class="checkbox-default" for="newShipping" data-bs-toggle="collapse"
                                                data-bs-target="#anotherShipping">
                                                <input type="checkbox" id="newShipping">
                                                <span>Add new address</span>
                                            </label>
                                            <div id="anotherShipping" class="collapse mt-3"
                                                data-parent="#anotherShipping">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="default-form-box">
                                                            <label>Name <span>*</span></label>
                                                            <input type="text" placeholder="Name" name="name" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="select_form_select default-form-box">
                                                            <label for="country_name">Country <span>*</span></label>
                                                            <select class="niceselect_option wide" name="country"
                                                                id="country_name" required>
                                                                <option value="America">America</option>
                                                                <option value="India">India</option>
                                                                <!-- Add other countries as needed -->
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="default-form-box">
                                                            <label>Street address <span>*</span></label>
                                                            <input name="address"
                                                                placeholder="House number and street name" type="text"
                                                                required>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="default-form-box">
                                                            <input name="street"
                                                                placeholder="Apartment, suite, unit etc. (optional)"
                                                                type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="default-form-box">
                                                            <label>City <span>*</span></label>
                                                            <input name="city" type="text" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="default-form-box">
                                                            <label>State <span>*</span></label>
                                                            <input name="state" type="text" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="default-form-box">
                                                            <label>Pincode <span>*</span></label>
                                                            <input name="pincode" type="text" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="default-form-box">
                                                            <label>Phone <span>*</span></label>
                                                            <input name="phone" type="text" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order_button pt-3">
                                        <button class="btn btn-md btn-black-default-hover" type="submit">Add
                                            address</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-6 col-md-6">

                                <h3>Your order</h3>
                                <div class="order_table table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Quantity</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <% if (cart && cart.items && cart.items.length> 0) { %>
                                            <% cart.items.forEach((item, index)=> { %>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <%= item.productId.name %>
                                                        </td>
                                                        <td>
                                                            <%= item.quantity %> <span class="fw-bold">x <%= item.price
                                                                        %></span>
                                                        </td>
                                                        <td>
                                                            <%= item.price * item.quantity %>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <% }) %>
                                                    <% } %>
                                                        <tfoot>

                                                            <!-- <tr>
                                            <th>Cart Subtotal</th>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th>Shipping</th>
                                            <td><strong>50.00</strong></td>
                                        </tr> -->
                                                            <tr class="order_total">
                                                                <th>Order Total</th>
                                                                <td><strong>RS:<%= cart && cart.Total ? cart.Total
                                                                            : '0.00' %></strong></td>
                                                            </tr>
                                                        </tfoot>

                                    </table>
                                </div>
                                <div class="payment_method">
                                    <div class="panel-default">
                                        <!-- <label class="checkbox-default" for="currencyCod" data-bs-toggle="collapse"
                                        data-bs-target="#methodCod"> -->
                                        <!-- <input type="checkbox" id="currencyCod"> -->
                                        <!-- <span>Cash on Delivery</span> -->
                                        <button class="btn btn-success text-light"
                                            onclick="placeOrder('<%= cart._id %>','Cash on Delivery')">Cash on
                                            Delivery</button>
                                        <!-- </label> -->

                                        <div id="methodCod" class="collapse" data-parent="#methodCod">
                                            <div class="card-body1">
                                                <p>Please send a check to Store Name, Store Street, Store Town, Store
                                                    State
                                                    / County, Store Postcode.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="panel-default">
                                    <label class="checkbox-default" for="currencyPaypal" data-bs-toggle="collapse"
                                        data-bs-target="#methodPaypal">
                                        <input type="checkbox" id="currencyPaypal">
                                        <span>PayPal</span>
                                    </label>
                                    <div id="methodPaypal" class="collapse " data-parent="#methodPaypal">
                                        <div class="card-body1">
                                            <p>Pay via PayPal; you can pay with your credit card if you don’t have a
                                                PayPal account.</p>
                                        </div>
                                    </div>
                                </div> -->
                                    <!-- <div class="order_button pt-3">
                                    <button class="btn btn-md btn-black-default-hover" type="submit">Proceed</button>   //neeed to apply on next week
                                </div> -->
                                </div>

                            </div>
                        </div>
                    </div> <!-- Start User Details Checkout Form -->
                </div>
            </div><!-- ...:::: End Checkout Section:::... -->

            <%- include('../partials/footer') %>


    </body>
    <script>
        function selectAddress(addressId) {
            selectedAddressId = addressId;
            console.log("Address selected:", selectedAddressId);
        }
        const addressData = '<%- JSON.stringify(address) %>'
        const address = JSON.parse(addressData)
        console.log(address, 'addddd');
        function placeOrder(cartId, paymentMethod) {
            console.log(cartId, 'cart data is showing', paymentMethod, 'payment method');
            if (address.length > 0) {
                console.log('order placing success');
                fetch(`/addOrder?cartId=${cartId}&paymentMethod=${paymentMethod}&addressId=${selectedAddressId}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.result === 'success') {
                            Swal.fire("Order placed successfully").then(() => {
                                location.href='/orderPlaced'
                            })
                            // Optionally refresh the page or update the address list dynamically
                        }
                    })
                    .catch(error => {
                        console.error('There was a problem with the fetch operation:', error);
                    });
            } else {
                Swal.fire('address not found')
            }
        }

        const form = document.getElementById("formData");

        form.addEventListener('submit', function (event) {
            event.preventDefault();
            const formData = new FormData(form);
            const data = {
                name: formData.get('name'),
                country: formData.get('country'),
                address: formData.get('address'),
                street: formData.get('street'),
                city: formData.get('city'),
                state: formData.get('state'),
                pincode: formData.get('pincode'),
                phone: formData.get('phone')
            };

            fetch('/addAddress', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.result === 'success') {
                        Swal.fire("Address added successfully").then(() => {
                            location.reload()
                        })
                        // Optionally refresh the page or update the address list dynamically
                    }
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        });





        function delAddress(id) {
            fetch(`/deleteAddress?id=${id}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.result === 'success') {
                        Swal.fire("Address deleted successfully").then(() => {
                            location.reload()
                        })
                        // Optionally refresh the page or update the address list dynamically
                    }
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
            // Your delAddress logic here
            console.log("Address deleted:", id);
        }

    </script>


    </html>