<%- include('../partials/head') %>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f6f9fc;
            margin: 0;
            padding: 0;
        }

        .container-pay {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5rem;
            margin-bottom: 5rem;
        }

        .card-pay {
            width: 100%;
            max-width: 600px;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }

        .card-body-pay {
            padding: 2rem;
        }

        .card-title-pay {
            margin-bottom: 1.5rem;
        }


        .container-add {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            padding: 2rem;
            margin-left: 2rem;
        }

        .card-add {
            width: 30rem;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            transition: transform 0.2s;
            margin-bottom: 1.5rem;
        }

        .card-add:hover {
            transform: translateY(-5px);
        }

        .card-body {
            padding: 1.5rem;
        }

        .radio-container {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
        }

        .radio-container input[type="radio"] {
            margin-right: 10px;
        }

        .card-title {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        .card-subtitle {
            font-size: 1rem;
            color: #666;
            margin-bottom: 1rem;
        }

        .card-text {
            font-size: 0.9rem;
            margin-bottom: 0.5rem;
        }

        .btn-group {
            display: flex;
            justify-content: space-between;
        }

        .btn {
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.2s;
        }

        .btn-block-pay {
            width: 32rem;
            height: 2rem;
            border-radius: 1rem;
            align-items: center;
            margin-bottom: 1rem;
        }

        .btn-warning {
            background-color: #ffc107;
            color: #fff;
        }

        .btn-primary {
            background-color: #007bff;
            color: #fff;
        }

        .btn-warning:hover {
            background-color: #e0a800;
        }

        .btn-primary:hover {
            background-color: #0056b3;
        }
    </style>

    <body>
        <%- include('../partials/header') %>

            <!-- Offcanvas Overlay -->
            <div class="offcanvas-overlay"></div>

            <!-- ...:::: Start Breadcrumb Section:::... -->
            <div class="breadcrumb-section breadcrumb-bg-color--golden">
                <div class="breadcrumb-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="breadcrumb-title">Checkout</h3>
                                <div
                                    class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                                    <nav aria-label="breadcrumb">
                                        <ul>
                                            <li><a href="">Home</a></li>
                                            <li><a href="/products">Shop</a></li>
                                            <li class="active" aria-current="page">Checkout</li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- ...:::: End Breadcrumb Section:::... -->

            <!-- ...:::: Start Checkout Section:::... -->
            <div class="checkout-section">
                <div class="container">
                    <div class="row">
                        <!-- User Quick Action Form -->
                        <!-- <div class="col-12">
                            <div class="user-actions accordion" data-aos="fade-up" data-aos-delay="200">
                                <h3>
                                    <i class="fa fa-file-o" aria-hidden="true"></i>
                                    Have a coupon?
                                    <a class="Returning" href="#" data-bs-toggle="collapse"
                                        data-bs-target="#checkout_coupon" aria-expanded="true">Click here to enter your
                                        code</a>

                                </h3>
                                <div id="checkout_coupon" class="collapse checkout_coupon"
                                    data-parent="#checkout_coupon">
                                    <div class="checkout_info">

                                        <input placeholder="Coupon code" id="coupon" type="text">
                                        <button class="btn btn-md btn-black-default-hover" type="button"
                                            onclick="applyCoupon()">Apply
                                            coupon</button>

                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- User Quick Action Form -->
                    </div>




                    <br>
                    <!-- Start User Details Checkout Form -->
                    <div class="checkout_form" data-aos="fade-up" data-aos-delay="400">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <form id="formData">
                                    <h3>Add Address Details</h3>
                                    <div class="row">
                                        <div class="col-12">
                                            <label class="checkbox-default" for="newShipping" data-bs-toggle="collapse"
                                                data-bs-target="#anotherShipping">
                                                <input type="checkbox" id="newShipping">
                                                <span>Add new address</span>
                                            </label>
                                            <div id="anotherShipping" class="collapse mt-3"
                                                data-parent="#anotherShipping">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <% if (nameError.length> 0) { %>
                                                            <div class="error-message alert text-danger text-start">
                                                                <%= nameError %>
                                                            </div>
                                                            <% } %>
                                                                <div class="default-form-box">
                                                                    <label>Name <span>*</span></label>
                                                                    <input type="text" placeholder="Name" name="name">
                                                                </div>
                                                    </div>
                                                    <% if (countryError.length> 0) { %>
                                                        <div class="error-message alert text-danger text-start">
                                                            <%= countryError %>
                                                        </div>
                                                        <% } %>
                                                            <div class="col-12">
                                                                <div class="select_form_select default-form-box">
                                                                    <label for="country_name">Country
                                                                        <span>*</span></label>
                                                                    <select class="niceselect_option wide"
                                                                        name="country" id="country_name">
                                                                        <option value="America">America</option>
                                                                        <option value="India">India</option>
                                                                        <!-- Add other countries as needed -->
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <% if (addressError.length> 0) { %>
                                                                <div class="error-message alert text-danger text-start">
                                                                    <%= addressError %>
                                                                </div>
                                                                <% } %>
                                                                    <div class="col-12">
                                                                        <div class="default-form-box">
                                                                            <label>Street address <span>*</span></label>
                                                                            <input name="address"
                                                                                placeholder="House number and street name"
                                                                                type="text">
                                                                        </div>
                                                                    </div>

                                                                    <% if (streetError.length> 0) { %>
                                                                        <div
                                                                            class="error-message alert text-danger text-start">
                                                                            <%= streetError %>
                                                                        </div>
                                                                        <% } %>
                                                                            <div class="col-12 mb-3">
                                                                                <label class="form-label"
                                                                                    for="street">Street
                                                                                    <span></span></label>
                                                                                <input type="text" class="form-control"
                                                                                    id="street" name="street"
                                                                                    placeholder="Apartment, suite, unit etc.">
                                                                            </div>
                                                                            <% if (cityError.length> 0) { %>
                                                                                <div
                                                                                    class="error-message alert text-danger text-start">
                                                                                    <%= cityError %>
                                                                                </div>
                                                                                <% } %>
                                                                                    <div class="col-12">
                                                                                        <div class="default-form-box">
                                                                                            <label>City
                                                                                                <span>*</span></label>
                                                                                            <input name="city"
                                                                                                type="text">
                                                                                        </div>
                                                                                    </div>
                                                                                    <% if (stateError.length> 0) { %>
                                                                                        <div
                                                                                            class="error-message alert text-danger text-start">
                                                                                            <%= stateError %>
                                                                                        </div>
                                                                                        <% } %>
                                                                                            <div class="col-12">
                                                                                                <div
                                                                                                    class="default-form-box">
                                                                                                    <label>State
                                                                                                        <span>*</span></label>
                                                                                                    <input name="state"
                                                                                                        type="text">
                                                                                                </div>
                                                                                            </div>
                                                                                            <% if (pincodeError.length>
                                                                                                0) { %>
                                                                                                <div
                                                                                                    class="error-message alert text-danger text-start">
                                                                                                    <%= pincodeError %>
                                                                                                </div>
                                                                                                <% } %>
                                                                                                    <div
                                                                                                        class="col-lg-6">
                                                                                                        <div
                                                                                                            class="default-form-box">
                                                                                                            <label>Pincode
                                                                                                                <span>*</span></label>
                                                                                                            <input
                                                                                                                name="pincode"
                                                                                                                type="text">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <% if
                                                                                                        (phoneError.length>
                                                                                                        0) { %>
                                                                                                        <div
                                                                                                            class="error-message alert text-danger text-start">
                                                                                                            <%= phoneError
                                                                                                                %>
                                                                                                        </div>
                                                                                                        <% } %>
                                                                                                            <div
                                                                                                                class="col-lg-6">
                                                                                                                <div
                                                                                                                    class="default-form-box">
                                                                                                                    <label>Phone
                                                                                                                        <span>*</span></label>
                                                                                                                    <input
                                                                                                                        name="phone"
                                                                                                                        type="text">
                                                                                                                </div>
                                                                                                            </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order_button pt-3">
                                        <button class="btn btn-md btn-black-default-hover" type="submit">Add
                                            address</button>
                                    </div>
                                </form>
                                <br>
                                <div class="container-add">
                                    <% if (address) { %>
                                        <% for (let i=0; i < address.length; i++) { %>
                                            <div class="card-add">
                                                <div class="card-body">
                                                    <div class="radio-container">
                                                        <input type="radio"
                                                            onclick="selectAddress('<%= address[i]._id %>')"
                                                            name="addressSelection" data-id="<%= address[i]._id %>">
                                                        <label>Select</label>
                                                    </div>
                                                    <h5 class="card-title">
                                                        <%= address[i].address %>
                                                    </h5>
                                                    <h6 class="card-subtitle">
                                                        <%= address[i].name %>
                                                    </h6>
                                                    <p class="card-text">
                                                        <%= address[i].address %>, <%= address[i].street %>
                                                    </p>
                                                    <p class="card-text">
                                                        <%= address[i].city %>, <%= address[i].state %>
                                                    </p>
                                                    <p class="card-text">Pincode: <%= address[i].pincode %>
                                                    </p>
                                                    <p class="card-text">Mobile: <%= address[i].phone %>
                                                    </p>
                                                    <div class="btn-group">
                                                        <a class="btn btn-warning"
                                                            href="/editAddress/?addressId=<%= address[i]._id %>&path=checkout">Edit</a>
                                                        <a class="btn btn-primary"
                                                            onclick="delAddress('<%= address[i]._id %>')">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                                                <% } %>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">

                                <h3>Your order</h3>
                                <div class="order_table table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Quantity</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <% if (cart && cart.items && cart.items.length> 0) { %>
                                            <% cart.items.forEach((item, index)=> { %>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <%= item.productId.name %>
                                                        </td>
                                                        <td>
                                                            <%= item.quantity %> <span class="fw-bold">x <%= item.price
                                                                        %></span>
                                                        </td>
                                                        <td>
                                                            <%= item.price * item.quantity %>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <% }) %>
                                                    <% } %>
                                                        <input type="text" name="" hidden id="removeCoupon">
                                                        <tfoot>
                                                            <tr>
                                                                <th colspan="2">Discount</th>
                                                                <td colspan="2"><strong id="dicprice"
                                                                        class="p-5">0</strong>
                                                                    <button class="" onclick="removeCoupon()"><svg
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            width="16" height="16" fill="currentColor"
                                                                            class="bi bi-trash" viewBox="0 0 16 16">
                                                                            <path
                                                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                                                            <path
                                                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                                                        </svg></button>
                                                                </td>
                                                            </tr>
                                                            <tr class="order_total">
                                                                <th colspan="2">Order Total</th>
                                                                <td colspan="2"><strong>RS: <span id="amount">
                                                                            <%= cart && cart.Total ? cart.Total : '0.00'
                                                                                %>
                                                                        </span></strong></td>
                                                                <td>

                                                                </td>
                                                            </tr>
                                                        </tfoot>
                                    </table>
                                </div>


                                <div id="checkout_coupon" class="collapse checkout_coupon">

                                    <div class="checkout_info">

                                        <input placeholder="Coupon code" id="coupon" type="text">
                                        <button class="btn btn-md btn-black-default-hover" type="button"
                                            onclick="applyCoupon()">Apply
                                            coupon</button>

                                    </div>
                                </div>



                                <div class="container-pay">
                                    <div class="card-pay">

                                        <h3 class="card-title-pay text-center">Select Payment Method</h3>
                                        <div class="card-body-pay">

                                            <div class=" d-grid-pay">
                                                <button id="pay-button" class="btn-pay btn-primary btn-block-pay">Pay
                                                    with Razorpay</button>

                                                <button id="btn-pay" class="btn-pay btn-secondary btn-block-pay"
                                                    onclick="placeOrder('Cash on Delivery')">Pay with Cash on
                                                    Delivery</button>



                                                <button onclick="paymentUsingWallet()"
                                                    class="btn-pay btn-dark btn-block-pay">Pay with Wallet</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="text" name="" id="cartId" value="<%= cart._id %>" hidden>

                                <!-- <div class="order_button pt-3">
                                    <button class="btn btn-md btn-black-default-hover" type="submit">Proceed</button>   //neeed to apply on next week
                                </div> -->
                            </div>



                        </div>
                    </div>
                </div> <!-- Start User Details Checkout Form -->
            </div>
            </div><!-- ...:::: End Checkout Section:::... -->

            <%- include('../partials/footer') %>


    </body>

    <script>
        {
            let modal = document.getElementById('checkout_coupon');
            if (modal) {
                modal.classList.toggle('collapse'); // Remove 'collapse' class to show the modal
            }
        }

    </script>

    <script src="
https://cdn.jsdelivr.net/npm/toastr@2.1.4/toastr.min.js
"></script>
    <link href="
https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css
" rel="stylesheet">

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>

        function removeCoupon() {

            // const couponCode = document.getElementById('removeCoupon').value
            // const subtotal = document.getElementById('amount').innerText

            // console.log(couponCode,'coupon code');
            // console.log(subtotal,'subtotal hehe');
            // fetch('/removeCoupon', {
            //     method: "POST",
            //     headers: {
            //         'Content-Type': "application/json"
            //     },
            //     body: JSON.stringify({ couponCode, subtotal })
            // })
            //     .then(response => response.json())
            //     .then(data => {
            //         if (data.success) {
            //             Swal.fire({
            //                 text: "coupon removed",
            //                 icon: 'success',
            //                 showCancelButton: false,
            //                 showCloseButton: false,
            //                 showConfirmButton: false,
            //                 showLoaderOnConfirm: false,
            //                 timer: 3000
            //             });

            //             console.log("ivideumethi")
            //             document.getElementById('dicprice').innerText = ""
            //             document.getElementById('amount').innerText = Number(data.price)
            //             // document.getElementById('carttotal').value = data.price


            //         } else {
            //             Swal.fire({
            //                 text: data.message,
            //                 icon: 'error',
            //                 showCancelButton: false,
            //                 showCloseButton: false,
            //                 showConfirmButton: false,
            //                 showLoaderOnConfirm: false,
            //                 timer: 3000
            //             });
            //         }
            //     })
            //     .catch(error => {
            //         console.error('Error applying coupon:', error);
            //         // alert('An error occurred while applying the coupon. Please try again.');
            //     });



            window.location.reload()

        }
    </script>


    <script>

        const addressData = '<%- JSON.stringify(address) %>';
        const address = JSON.parse(addressData);
        console.log(address, 'addddd');

        let selectedAddressId;

        function selectAddress(addressId) {
            selectedAddressId = addressId;
            console.log("Address selected:", selectedAddressId);
        }

        const cartId = document.getElementById('cartId').value;
        const amount = document.getElementById('amount').innerText;

        document.getElementById('pay-button').onclick = async function (e) {
            e.preventDefault();
            if (!selectedAddressId) {
                Swal.fire('Address not found');
                return;
            }

            try {
                const response = await fetch(`/razorpay?amount=${amount}`);
                if (!response.ok) {
                    throw new Error('Failed to create order');
                }

                const orders = await response.json();
                const options = {
                    key: 'rzp_test_vaUKH55kwbh0HR',
                    amount: orders.amount,
                    currency: orders.currency,
                    orders_id: orders.id,
                    name: 'METRIX',
                    description: 'Test Payment',
                    image: 'https://via.placeholder.com/150',
                    handler: function (response) {
                        Swal.fire({
                            title: 'Payment Successful!',
                            html: `<p>Payment ID: <strong>${response.razorpay_payment_id}</strong></p>
                                 <p>Amount: <strong>${orders.amount / 100}</strong> ${orders.currency}</p>`,
                            icon: 'success',
                            timer: 3500,
                        }).then(() => {
                            razorpaySuccess(orders);
                        });
                    },
                    prefill: {
                        name: 'Arshad T P',
                        email: 'arshadtp89@gmail.com',
                        contact: '7909102569'
                    },
                    theme: {
                        color: '#528FF0'
                    }
                };

                const razorpayInstance = new Razorpay(options);

                razorpayInstance.on('payment.failed', function (response) {
                    Swal.fire({
                        title: 'Payment Failed',
                        text: 'There was an error processing your payment. Redirecting to order history...',
                        icon: 'error',
                        timer: 3000,
                        timerProgressBar: true,
                        willClose: () => {
                            location.href = '/ordersHistory';
                        }
                    });
                });
                razorpayInstance.open();

                function razorpaySuccess(orders) {
                    fetch(`/addOrder?cartId=${cartId}&paymentMethod=Online Delivery&addressId=${selectedAddressId}`)
                        .then(response => response.json())
                        .then(data => {
                            if (data.result === 'success') {
                                Swal.fire("Order placed successfully").then(() => {
                                    location.href = '/orderPlaced';
                                });
                            } else if (data.result === 'error') {
                                Swal.fire('Stock limit exceeded').then(() => {
                                    location.reload();
                                });
                            }
                        })
                        .catch(error => {
                            console.error('There was a problem with the fetch operation:', error);
                        });
                }
            } catch (error) {
                console.log(error, 'error is showing');
            }
        };

        function placeOrder(paymentMethod) {
            if (!selectedAddressId) {
                Swal.fire('Address not found');
                return;
            }

            fetch(`/addOrder?cartId=${cartId}&paymentMethod=${paymentMethod}&addressId=${selectedAddressId}`)
                .then(response => response.json())
                .then(data => {
                    if (data.result === 'success') {
                        Swal.fire("Order placed successfully").then(() => {
                            location.href = '/orderPlaced';
                        });
                    } else if (data.result === 'error') {
                        Swal.fire('Stock limit exceeded').then(() => {
                            location.reload();
                        });
                    }
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        }

        const form = document.getElementById("formData");

        form.addEventListener('submit', function (event) {
            event.preventDefault();
            const formData = new FormData(form);
            const data = {
                name: formData.get('name'),
                country: formData.get('country'),
                address: formData.get('address'),
                street: formData.get('street'),
                city: formData.get('city'),
                state: formData.get('state'),
                pincode: formData.get('pincode'),
                phone: formData.get('phone')
            };

            fetch('/addAddress', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => {
                    if (data.result === 'success') {
                        Swal.fire("Address added successfully").then(() => {
                            location.reload();
                        });
                    } else if (data.error) {
                        toastr.error(`${data.error}`)
                    }
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        });

        function delAddress(id) {
            fetch(`/deleteAddress?id=${id}`)
                .then(response => response.json())
                .then(data => {
                    if (data.result === 'success') {
                        Swal.fire("Address deleted successfully").then(() => {
                            location.reload();
                        });
                    }
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        }

    </script>

    <script>
        async function applyCoupon() {


            const couponCode = document.getElementById('coupon').value
            const subtotal = document.getElementById('amount').innerText
            document.getElementById('removeCoupon').value = couponCode  //kalayan ullathane

            fetch('/applyCoupon', {
                method: "POST",
                headers: {
                    'Content-Type': "application/json"
                },
                body: JSON.stringify({ couponCode, subtotal })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire({
                            text: "coupon applied",
                            icon: 'success',
                            showCancelButton: false,
                            showCloseButton: false,
                            showConfirmButton: false,
                            showLoaderOnConfirm: false,
                            timer: 3000
                        });

                        console.log("ivideumethi")
                        document.getElementById('dicprice').innerText = "-" + data.dicprice
                        document.getElementById('amount').innerText = data.price
                        // document.getElementById('carttotal').value = data.price

                    } else if (data.error) {

                        Swal.fire({
                            text: data.error,
                            icon: 'error',
                            showCancelButton: false,
                            showCloseButton: false,
                            showConfirmButton: false,
                            showLoaderOnConfirm: false,
                            timer: 3000
                        });

                    } else {
                        Swal.fire({
                            text: data.message,
                            icon: 'error',
                            showCancelButton: false,
                            showCloseButton: false,
                            showConfirmButton: false,
                            showLoaderOnConfirm: false,
                            timer: 3000
                        });
                    }
                })
                .catch(error => {
                    console.error('Error applying coupon:', error);
                    // alert('An error occurred while applying the coupon. Please try again.');
                });





        }
    </script>

    </html>