<%- include('../partials/head') %>

  <style>
    /* Style the search container to position elements */
    .search-container {
      position: relative;
      /* display: inline-block; */
      width: 100%;
      max-width: 500px;
      display: flex;
    }

    /* Style the search input */
    #searchInput {
      width: 100%;
      padding: 10px 40px 10px 10px;
            border: 2px solid black;

      /* Make room for the clear button */
      box-sizing: border-box;
      border: 1px solid;
      border-radius: 5px;
    }
    .search-input{
      border: 1px solid;
      border-radius: 5px;
      border-color: #999;
      height: 42px;
    }
    /* Style the clear button */
    /* .clear-btn {
      position: absolute;
      right: 45px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      color: rgb(10, 5, 5);
      font-size: 1.5rem;
      display: none;
    } */

    /* #searchInput:not(:placeholder-shown)+.clear-btn {
      display: inline;
    } */

    /* Style the submit button */
    .search-container button {
      border: 2px solid black;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 5rem;
      padding: 0 10px;
      border-radius: 4rem;
      border: none;
      background: #1d1d1e;
      color: white;
      cursor: pointer;
      font-size: 1rem;
    }
  </style>

  <body>
    <%- include('../partials/header') %>

      <!-- End Offcanvas Search Bar Section -->

      <!-- Offcanvas Overlay -->
      <div class="offcanvas-overlay"></div>

      <!-- ...:::: Start Breadcrumb Section:::... -->
      <div class="breadcrumb-section"
        style="background-image: url(https://www.oneplus.in/content/dam/oasis/page/2024/in/home/benz/3_Benz-desktop.jpg.thumb.webp);background-size:cover">
        <div class="breadcrumb-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h3 class="breadcrumb-title" style="color:rgb(11, 0, 0)">Shop Page</h3>
                <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                  <nav aria-label="breadcrumb">
                    <ul>
                      <li><a href="/" style="color:rgb(1, 0, 0)">Home</a></li>
                      <li><a href="" style="color:rgb(17, 1, 1)">Shop</a></li>
                      <li class="active" aria-current="page">Shop page</li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ...:::: End Breadcrumb Section:::... -->

      <!-- ...:::: Start Shop Section:::... -->
      <div class="shop-section">
        <div class="container">
          <div class="row flex-column-reverse flex-lg-row">
            <div class="col-lg-12">
              <!-- Start Shop Product Sorting Section -->
              <div class="shop-sort-section">
                <div class="container">
                  <div class="row">
                    <!-- Start Sort Wrapper Box -->
                    <div
                      class="sort-box d-flex justify-content-between align-items-md-center align-items-start flex-md-row flex-column"
                      data-aos="fade-up" data-aos-delay="0">
                      <!-- Start Sort tab Button -->
                      <div class="sort-tablist d-flex align-items-center">
                        <ul class="tablist nav sort-tab-btn">
                          <li>
                            <a class="nav-link active" data-bs-toggle="tab" href="#layout-4-grid"><img
                                src="assets/images/icons/bkg_grid.png" alt="" /></a>
                          </li>
                          <li>
                            <a class="nav-link" data-bs-toggle="tab" href="#layout-list"><img
                                src="assets/images/icons/bkg_list.png" alt="" /></a>
                          </li>
                        </ul>

                        <!-- Start Page Amount -->
                        <div class="page-amount ml-2">
                          <span>Showing 1–8 of 12 results</span>
                        </div>
                        <!-- End Page Amount -->
                      </div>
                      <!-- End Sort tab Button -->


                      <!-- Start Sort Select Option -->
                      <div class="sort-select-list d-flex align-items-center">
                        <label class="mr-2">Sort By:</label>
                        <select onchange="sort_item()" name="sort" id="sortBy">
                          <option value="newness" <%=sort==='newness' ? 'selected' :'' %>> newness</option>
                          <option value="popularity" <%=sort==='popularity' ? 'selected' :'' %>> popularity</option>
                          <option value="lowToHigh" <%=sort==='lowToHigh' ? 'selected' :'' %>> price: low to high
                          </option>
                          <option value="highToLow" <%=sort==='highToLow' ? 'selected' :'' %>> price: high to low
                          </option>
                          <option value="productNameAZ" <%=sort==='productNameAZ' ? 'selected' :'' %>>Product Name: A to
                            Z</option>
                          <option value="productNameZA" <%=sort==='productNameZA' ? 'selected' :'' %>>Product Name: Z to
                            A</option>
                        </select>
                      </div>
                      <div class="sort-select-list d-flex align-items-center">
                        <label class="mr-2">Catagory:</label>
                        <select onchange="filterCatagory()" name="catagory" id="catagoryFilter">
                          <option value="all" <%=catagory==='all' ?'selected':'' %>>All Catagories</option>
                          <option value="Samsung" <%=catagory==='Samsung' ?'selected':'' %>>Samsung</option>
                          <option value="Redmi" <%=catagory==='Redmi' ?'selected':'' %>>Redmi</option>
                          <option value="Apple" <%=catagory==='Apple' ?'selected':'' %>>Apple</option>
                          <option value="Vivo" <%=catagory==='Vivo' ?'selected':'' %>>Vivo</option>
                          <option value="Nothing" <%=catagory==='Nothing' ?'selected':'' %>>Nothing</option>
                          <option value="OnePlus" <%=catagory==='OnePlus' ?'selected':'' %>>OnePlus</option>
                          <option value="Motorola" <%=catagory==='Motorola' ?'selected':'' %>>Motorola</option>
                        </select>
                      </div>
                      <!-- End Sort Select Option -->
                      <div class="sort-select-list p-5 d-flex">
                        <!-- <form action="/products" method="GET"> -->


                        <div class="search-container">
                          <input type="text" name="search" class="search-input" id="searchValue"
                            placeholder="Search..." onchange="search()"  value="<%= search %>">
                          <!-- <button onclick="search()">Submit</button> -->
                        </div>



                        <!-- <button type="submit" class="search-btn btn-dark">Search</button> -->
                        <!-- </form> -->
                      </div>
                    </div>
                    <!-- Start Sort Wrapper Box -->
                  </div>
                </div>
              </div>
              <!-- End Section Content -->

              <!-- Start Tab Wrapper -->
              <div class="sort-product-tab-wrapper">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <div class="tab-content">
                        <!-- Start Grid View Product -->
                        <div class="tab-pane active show sort-layout-single" id="layout-4-grid">
                          <div class="row">
                            <% for( let i=0; i < data.length; i++ ) { %>



                              <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                                <!-- Start Product Default Single Item -->
                                <div class="product-default-single-item product-color--golden" data-aos="fade-up"
                                  data-aos-delay="0">
                                  <div class="image-box">
                                    <a href="/productDetail/<%= data[i]._id %>" class="image-link">
                                      <img src="/productsImages/<%= data[i].images[0] %>" alt="">
                                      <img src="/productsImages/<%= data[i].images[1] %>" alt="">
                                    </a>
                                    <div class="action-link">
                                      <div class="action-link-left">
                                        <li
                                          onclick="addCart('<%= data[i].price %>','/productsImages/<%= data[i].images[0] %>','<%= data[i].id %>','<%= data[i].name %>')">
                                          <a href="" data-bs-toggle="modal" data-bs-target="#modalAddcart">Add to
                                            Cart</a>
                                        </li>
                                      </div>
                                      <div class="action-link-right">
                                        <a href="/productDetail/<%= data[i]._id %>" class="quickview-btn"
                                          data-bs-toggle="modal" data-index="<%= i %>">
                                          <i class="icon-magnifier"></i>
                                        </a>
                                        <button onclick="addToWishlist('<%= data[i]._id %>')"
                                          class="btn btn-md btn-golden"
                                          style="border: none; background-color: transparent;"> <i
                                            class="icon-heart"></i></button>

                                      </div>
                                    </div>
                                  </div>
                                  <div class="content">
                                    <div class="content-left">
                                      <h6 class="title"><a href="/productDetail/<%= data[i]._id %>">
                                          <%= data[i].name %>
                                        </a></h6>
                                      <ul class="review-star">
                                        <li class="fill"><i class="ion-android-star"></i>
                                        </li>
                                        <li class="fill"><i class="ion-android-star"></i>
                                        </li>
                                        <li class="fill"><i class="ion-android-star"></i>
                                        </li>
                                        <li class="fill"><i class="ion-android-star"></i>
                                        </li>
                                        <li class="empty"><i class="ion-android-star"></i>
                                        </li>
                                      </ul>
                                    </div>
                                    <div class="content-right">
                                      <span class="price" style="color: black;">Rs: <%= data[i].price %></span>
                                    </div>
                                  </div>
                                </div>
                                <!-- End Product Default Single Item -->
                              </div>

                              <% } %>

                          </div>
                        </div>
                        <!-- End Grid View Product -->
                        <!-- Start List View Product -->
                        <div class="tab-pane sort-layout-single" id="layout-list">
                          <div class="row">


                            <div class="col-12">
                              <% for( let i=0; i < data.length; i++ ) { %>
                                <!-- Start Product Defautlt Single -->
                                <div class="product-list-single product-color--golden">
                                  <a href="/productDetail/<%= data[i]._id %>" class="product-list-img-link">
                                    <img class="img-fluid" style="height: 300px;"
                                      src="/productsImages/<%= data[i].images[0] %>" alt="">
                                    <img class="img-fluid" src="/productsImages/<%= data[i].images[1] %>" alt="">
                                  </a>

                                  <div class="product-list-content">
                                    <h5 class="product-list-link">
                                      <a href="">
                                        <%= data[i].name %>
                                      </a>
                                    </h5>
                                    <ul class="review-star">
                                      <li class="fill">
                                        <i class="ion-android-star"></i>
                                      </li>
                                      <li class="fill">
                                        <i class="ion-android-star"></i>
                                      </li>
                                      <li class="fill">
                                        <i class="ion-android-star"></i>
                                      </li>
                                      <li class="fill">
                                        <i class="ion-android-star"></i>
                                      </li>
                                      <li class="empty">
                                        <i class="ion-android-star"></i>
                                      </li>
                                    </ul>
                                    <span class="product-list-price" style="color: black;">RS:<%= data[i].price %>
                                    </span>
                                    <p style="color: black;">Description: <%= data[i].description %>
                                    </p>
                                    <div class="product-action-icon-link-list">

                                      <button type="button"
                                        onclick="addCart('<%= data[i].price %>','/productsImages/<%= data[i].images[0] %>','<%= data[i].id %>','<%= data[i].name %>')"
                                        data-bs-toggle="modal" data-bs-target="#modalAddcart"
                                        class="btn btn-lg btn-black-default-hover"> Add to cart


                                      </button>

                                      <a href="/productDetail/<%= data[i]._id %>" data-bs-toggle="modal"
                                        data-bs-target="<%= i %>" class="btn btn-lg btn-black-default-hover"><i
                                          class="icon-magnifier"></i></a>
                                      <button onclick="addToWishlist('<%= data[i]._id %>')"
                                        class="btn btn-lg btn-black-default-hover"><i class="icon-heart"></i></button>
                                    </div>
                                  </div>
                                </div>
                                <br>
                                <br>
                                <!-- End Product Defautlt Single -->
                                <% } %>
                                  <br>
                                  <br>
                                  <br>
                            </div>

                          </div>
                        </div>
                        <!-- End List View Product -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Tab Wrapper -->

              <!-- Start Pagination -->
              <div class="page-pagination text-center" data-aos="fade-up" data-aos-delay="0">
                <ul>
                  <% if (page> 1) { %>
                    <li><a href="/products/?page=<%= page - 1 %>">Prev</a></li>
                    <% } %>
                      <% for (let i=1; i <=totalPages; i++) { %>

                        <li><a class="<%= page == i ? 'active' : '' %>" href="/products/?page=<%= i %>">
                            <%= i %>
                          </a></li>
                        <% } %>
                          <% if (page < totalPages) { %>
                            <li><a href="/products/?page=<%= page + 1 %>">Next</a></li>
                            <% } %>
                              <!-- <li>
                    <a href=""><i class="ion-ios-skipforward"></i></a>
                  </li> -->

                </ul>
              </div>
              <!-- End Pagination -->
            </div>
            <!-- End Shop Product Sorting Section  -->
          </div>
        </div>
      </div>
      <!-- ...:::: End Shop Section:::... -->


      <!-- End Footer Section -->

      <!-- material-scrolltop button -->
      <button class="material-scrolltop" type="button"></button>

      <!-- Start Modal Quickview cart -->
      <div class="modal fade" id="modalQuickview" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col text-right">
                    <button type="button" class="close modal-close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true"> <i class="fa fa-times"></i></span>
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="product-details-gallery-area mb-7">
                      <!-- Start Large Image -->
                      <div class="product-large-image modal-product-image-large swiper-container">
                        <div class="swiper-wrapper">
                          <div class="product-image-large-image swiper-slide img-responsive">
                            <img src="assets/images/product/default/home-1/default-1.jpg" alt="" />
                          </div>
                          <div class="product-image-large-image swiper-slide img-responsive">
                            <img src="assets/images/product/default/home-1/default-2.jpg" alt="" />
                          </div>
                          <div class="product-image-large-image swiper-slide img-responsive">
                            <img src="assets/images/product/default/home-1/default-3.jpg" alt="" />
                          </div>
                          <div class="product-image-large-image swiper-slide img-responsive">
                            <img src="assets/images/product/default/home-1/default-4.jpg" alt="" />
                          </div>
                          <div class="product-image-large-image swiper-slide img-responsive">
                            <img src="assets/images/product/default/home-1/default-5.jpg" alt="" />
                          </div>
                          <div class="product-image-large-image swiper-slide img-responsive">
                            <img src="assets/images/product/default/home-1/default-6.jpg" alt="" />
                          </div>
                        </div>
                      </div>
                      <!-- End Large Image -->
                      <!-- Start Thumbnail Image -->
                      <div class="product-image-thumb modal-product-image-thumb swiper-container pos-relative mt-5">
                        <div class="swiper-wrapper">
                          <div class="product-image-thumb-single swiper-slide">
                            <img class="img-fluid" src="assets/images/product/default/home-1/default-1.jpg" alt="" />
                          </div>
                          <div class="product-image-thumb-single swiper-slide">
                            <img class="img-fluid" src="assets/images/product/default/home-1/default-2.jpg" alt="" />
                          </div>
                          <div class="product-image-thumb-single swiper-slide">
                            <img class="img-fluid" src="assets/images/product/default/home-1/default-3.jpg" alt="" />
                          </div>
                          <div class="product-image-thumb-single swiper-slide">
                            <img class="img-fluid" src="assets/images/product/default/home-1/default-4.jpg" alt="" />
                          </div>
                          <div class="product-image-thumb-single swiper-slide">
                            <img class="img-fluid" src="assets/images/product/default/home-1/default-5.jpg" alt="" />
                          </div>
                          <div class="product-image-thumb-single swiper-slide">
                            <img class="img-fluid" src="assets/images/product/default/home-1/default-6.jpg" alt="" />
                          </div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="gallery-thumb-arrow swiper-button-next"></div>
                        <div class="gallery-thumb-arrow swiper-button-prev"></div>
                      </div>
                      <!-- End Thumbnail Image -->
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="modal-product-details-content-area">
                      <!-- Start  Product Details Text Area-->
                      <div class="product-details-text">
                        <h4 class="title">Nonstick Dishwasher PFOA</h4>
                        <div class="price"><del>$70.00</del>$80.00</div>
                      </div>
                      <!-- End  Product Details Text Area-->
                      <!-- Start Product Variable Area -->
                      <div class="product-details-variable">
                        <!-- Product Variable Single Item -->
                        <div class="variable-single-item">
                          <span>Color</span>
                          <div class="product-variable-color">
                            <label for="modal-product-color-red">
                              <input name="modal-product-color" id="modal-product-color-red" class="color-select"
                                type="radio" checked />
                              <span class="product-color-red"></span>
                            </label>
                            <label for="modal-product-color-tomato">
                              <input name="modal-product-color" id="modal-product-color-tomato" class="color-select"
                                type="radio" />
                              <span class="product-color-tomato"></span>
                            </label>
                            <label for="modal-product-color-green">
                              <input name="modal-product-color" id="modal-product-color-green" class="color-select"
                                type="radio" />
                              <span class="product-color-green"></span>
                            </label>
                            <label for="modal-product-color-light-green">
                              <input name="modal-product-color" id="modal-product-color-light-green"
                                class="color-select" type="radio" />
                              <span class="product-color-light-green"></span>
                            </label>
                            <label for="modal-product-color-blue">
                              <input name="modal-product-color" id="modal-product-color-blue" class="color-select"
                                type="radio" />
                              <span class="product-color-blue"></span>
                            </label>
                            <label for="modal-product-color-light-blue">
                              <input name="modal-product-color" id="modal-product-color-light-blue" class="color-select"
                                type="radio" />
                              <span class="product-color-light-blue"></span>
                            </label>
                          </div>
                        </div>
                        <!-- Product Variable Single Item -->
                        <div class="d-flex align-items-center flex-wrap">
                          <div class="variable-single-item">
                            <span>Quantity</span>
                            <div class="product-variable-quantity">
                              <input min="1" max="100" value="1" type="number" />
                            </div>
                          </div>

                          <div class="product-add-to-cart-btn">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalAddcart">Add To Cart</a>
                          </div>
                        </div>
                      </div>
                      <!-- End Product Variable Area -->
                      <div class="modal-product-about-text">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing
                          elit. Mollitia iste laborum ad impedit pariatur esse
                          optio tempora sint ullam autem deleniti nam in quos qui
                          nemo ipsum numquam, reiciendis maiores quidem aperiam,
                          rerum vel recusandae
                        </p>
                      </div>
                      <!-- Start  Product Details Social Area-->
                      <div class="modal-product-details-social">
                        <span class="title">SHARE THIS PRODUCT</span>
                        <ul>
                          <li>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                          </li>
                          <li>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                          </li>
                          <li>
                            <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                          </li>
                          <li>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                          </li>
                          <li>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                          </li>
                        </ul>
                      </div>
                      <!-- End  Product Details Social Area-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal Quickview cart -->

      <%- include('../partials/footer') %>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



        <script>
          const session = '<%= JSON.stringify(user)%>'

          console.log(typeof (session), 'session kitty');
          const addCart = async (price, image, id, name) => {
            console.log();
            if (session == 'true') {
              fetch(`/cart?id=${id}&`)
                .then(response => {

                  if (!response.ok) {
                    throw new Error('some error occure using fatch for add to cart')
                  }
                  return response.json()
                }).then(data => {
                  if (data.result == 'success') {
                    Swal.fire({
                      position: "center",
                      icon: "success",
                      title: "Add to Cart Successfully",
                      showConfirmButton: false,
                      timer: 2500
                    }).then(() => {
                      location.reload()
                    })
                  } else if (data.result == 'limit exceeded') {
                    Swal.fire({
                      position: "center",
                      icon: "warning",
                      title: "Product limit exceeded",
                      showConfirmButton: false,
                      timer: 2500
                    })

                  } else if (data.result == 'out of stock') {
                    Swal.fire({
                      position: "center",
                      icon: "warning",
                      title: "out of stock",
                      showConfirmButton: false,
                      timer: 2500
                    })

                  }
                  else {
                    alert('localhost has some issue')
                  }
                })





            } else {
              window.location.href = '/login'
            }





            //extract JSON from the http response

          }


        </script>
        <script>

          function filterCatagory() {
            const search = document.getElementById('searchValue').value
            const catagory = document.getElementById("catagoryFilter").value;
            const sort_by = document.getElementById('sortBy').value
            window.location.href = `/products?sort=${sort_by}&catagory=${catagory}&search=${search}`;
          }
          function sort_item() {
            const search = document.getElementById('searchValue').value
            const catagory = document.getElementById("catagoryFilter").value;
            const sort_by = document.getElementById('sortBy').value
            window.location.href = `/products?sort=${sort_by}&catagory=${catagory}&search=${search}`;
          }
          function search() {
            const search = document.getElementById('searchValue').value
            console.log('sreach', search);
            const catagory = document.getElementById("catagoryFilter").value;
            const sort_by = document.getElementById('sortBy').value

            window.location.href = `/products?sort=${sort_by}&catagory=${catagory}&search=${search}`
          }
          function clearSearch() {
            const searchInput = document.getElementById('searchInput');
            searchInput.value = '';
            searchInput.focus();
            // Hide the clear button
            document.querySelector('.clear-btn').style.display = 'none';
          }
        </script>
        <script>
          function addToWishlist(productId, name, id, image) {
            fetch('/addToWishlist', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({ productId })
            })
              .then(response => response.json())
              .then(data => {
                if (data.result === 'success') {
                  Swal.fire({
                    position: "center",
                    icon: "success",
                    title: "Add to wishlist Successfully",
                    showConfirmButton: false,
                    timer: 2500
                  }).then(()=>{
                            location.reload()
                        })
                } else if (data.result === 'failure') {
                  Swal.fire({
                    position: "center",
                    icon: "error",
                    title: "This product is already in your wishlist",
                    showConfirmButton: false,
                    timer: 2500
                  })

                }
              })
              .catch(error => console.error('Error:', error));
          }
        </script>

  </body>

  </html>