<%- include('../partials/head') %>

<body>
 <%# include('../partials/header') %>
    <!-- Offcanvas Overlay -->
    <div class="offcanvas-overlay"></div>

    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section"  style="background-image: url(https://www.oneplus.in/content/dam/oasis/page/2024/in/home/benz/3_Benz-desktop.jpg.thumb.webp);background-size:cover">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">signup</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <!-- <li><a href="shop-grid-sidebar-left.html">Shop</a></li> -->
                                    <li class="active" aria-current="page">Login</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Customer Login Section :::... -->
    <div class="customer-login">
        <div class="container">
            <div class="row">
                <!--login area start-->
                <div id="login-start" class="col-lg-6 col-md-6 text-center"> <!-- Added text-center class here -->
                    <div class="account_form mx-auto" data-aos="fade-up" data-aos-delay="0">
                        <h3>signup</h3>
                        <% if(existingError){%>
                            <div  class="error-message alter text-danger text-start"><%=existingError%></div>
                
                        <%}%>
                        <form id="formData" action="/signup" method="POST">
                            <div class="default-form-box">
                                <label>Username  <span>*</span></label>
                                <input type="text" class="form-control" placeholder="name" name="username">
                            </div>
                            <% if(userError){%>
                                <div  class="error-message alter text-danger text-start"><%=userError%></div>
                    
                            <%}%>
                            <div class="default-form-box">
                                <label> email <span>*</span></label>
                                <input type="email" class="form-control" placeholder="email" name="email">
                            </div>
                            <% if(emailError){%>
                                <div  class="error-message alter text-danger text-start"><%=emailError%></div>
                    
                            <%}%>
                            <div class="default-form-box">
                                <label>Passwords <span>*</span></label>
                                <input id="password-field" type="password" class="form-control"  name="password" placeholder="Password">
                            </div>
                            <% if(passError){%>
                                <div  class="error-message alter text-danger text-start"><%=passError%></div>
                    
                            <%}%>
                            <div class="default-form-box">
                                <label> Conform Passwords <span>*</span></label>
                                <input id="password" type="password" class="form-control"  name="ConformPassword" placeholder="Conform Password">
                            </div>
                            <div class="login_submit">
                                <button class="btn btn-md btn-black-default-hover mb-4" type="submit" style="margin: 0 auto">signup</button>
                                <!-- <label class="checkbox-default mb-4" for="offer">
                                    <input type="checkbox" id="offer">
                                    <span>Remember me</span>
                                </label> -->
                                <a href="/login">Do you Have An Account Press Me</a>
                            </div>
                        </form>
                    </div>
                </div>
                <!--login area end-->
    
                <!--register area start-->
                <!-- <div class="col-lg-6 col-md-6">
                    <div class="account_form register" data-aos="fade-up" data-aos-delay="200">
                        <h3>Register</h3>
                        <form action="#">
                            <div class="default-form-box">
                                <label>Email address <span>*</span></label>
                                <input type="text">
                            </div>
                            <div class="default-form-box">
                                <label>Passwords <span>*</span></label>
                                <input type="password">
                            </div>
                            <div class="login_submit">
                                <button class="btn btn-md btn-black-default-hover" type="submit">Register</button>
                            </div>
                        </form>
                    </div>
                </div> -->
                <!--register area end-->
            </div>
        </div>
    </div> <!-- ...:::: End Customer Login Section :::... -->
    
    
    
    

    <%- include('../partials/footer') %>
    <script src="
https://cdn.jsdelivr.net/npm/toastr@2.1.4/toastr.min.js
"></script>
<link href="
https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css
" rel="stylesheet">
<script>
    const form = document.getElementById("formData");
    form.addEventListener('submit', function (event) {
            event.preventDefault();
     const formData = new FormData(form);
    const data = {
                username: formData.get('username'),
                email: formData.get('email'),
                password: formData.get('password'),
                ConformPassword:formData.get('ConformPassword'),

                
            };
fetch('/signup', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                console.log('=============');
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    console.log('2========');
                    return response.json();
                })
                .then(data => {
                    if (data.result === 'success') {
                        
                        Swal.fire("New user add successfully").then(() => {
                            location.href = '/otpverification'
                        })
                        // Optionally refresh the page or update the address list dynamically
                    }else if(data.error){
                        toastr.error(`${data.error}`)
                    }
                })
                
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
            });
        
</script>
    <script>
        setTimeout(function() {
          let errorMessages = document.querySelectorAll(".error-message");
          errorMessages.forEach(function(message) {
            message.innerHTML = '';
          });
        }, 5000);
      </script>
   
</body>


</html>